extends ../layouts/name_layout

block content
	.name-detail
		h1= title

		p Name : #{details.name}
		p Definition : #{details.definition}
		p Morphology : #{details.morphology}
		p Gloss : #{details.gloss}
		p Alphabet : #{details.alphabet.alphabet}
		p Gender : #{details.gender.gender}
