extends ../layout

block content

	.profile-details 			

		p Full Name : #{user.full_name}

		p Username : #{user.username}

		p E-mail Address : #{user.email_address}

		p About : #{user.about}

		p Country : #{user.country.name}

		p Ethnicity : #{user.ethnic_group.eyon}

		p Last Logged in date : #{user.last_loggedIn}

		p Joined Date : #{user.created_on}

		p Status : #{user.role}

		a(href ='/profile/edit' class ='btn btn-primary float-right px-4' title ='Update Profile') Update Profile
