extends ../layouts/post

block content
	
	.post-add

		button(id ='showFormGuide' class ='showFormGuide btn btn-primary px-4') Show form filling guideline: 

		ul.guidelines
			p Click on the above button button to hide the form filling guideline.
			p All fields mark with the asterick symbol (*) should have a valid value.
			li Title cannot be less than 0 character or be greater than 120 characters in length.
			li Ethnic Group and Country should be provided.
			li Main body cannot be less than 0 character or be greater than 6000 characters in length.

		ul.ajax

		if errors
			p Errors found trying to process form. These include : -
			ul.alert.alert-danger.errors
				for error in errors
					if error.msg
						li!= error.msg
					else
						li!= error.message
	  
		form(name ='boboForm' method ='post' ,	action ='' enctype ='multipart/form-data')

			.form-group
				label(for ='title') Title * : 
				input(type ='text' id ='title' name ='title' class ='form-control form-control-sm' value =(undefined === law ? '' : law.title) required ='true')

			.form-group
				label(for ='ethnic_group') Ethnic Group * : 
				select(id ='ethnic_group' name ='ethnic_group' class ='form-control form-control-sm' required ='true')
					option(value ='') 
					for eyon in eyons
						if law
							if law.ethnic_group
								option(value =eyon._id class ='form-control'  selected =(eyon._id.toString() == law.ethnic_group._id || eyon._id.toString() == law.ethnic_group) ? 'selected' : false) #{eyon.eyon}
							else
								option(value=eyon._id) #{eyon.eyon}
						else
							option(value=eyon._id) #{eyon.eyon}

			.form-group
				label(for ='country') Country * : 
				select(id ='country' name ='country' class ='form-control form-control-sm' required ='true')
					option(value ='') 
					for country in countries
						if art
							if art.country
								option(value =country._id class ='form-control'  selected =(country._id.toString() == art.country._id || country._id.toString() == art.country) ? 'selected' : false) #{country.name}
							else	
								option(value=country._id) #{country.name}
						else
							option(value=country._id) #{country.name}

			textarea(name ='main_body' , id ='editor' required ='true')
				if law
					if law.main_body
						| !{law.main_body}

			.form-group
				input(type ='hidden' id ='link' value ='law')

			p
				button(type ='submit' title ='Submit' class ='btn btn-primary float-right px-4' id ='formSubmit') Submit
